{{> header }}
<button id="send_bar">Enviar cliente barra</button>
<button id="send_web">Enviar cliente web</button>
<a href="/logout">salir</a>
<script src="/socket.io/socket.io.js"></script>
<script src="static/main.js"></script>r
{{> footer }}